<footer>
    <ul class="links">
        <li><a href="https://github.com/popomore/" target="_blank">Github</a></li>
        <li><a href="http://twitter.com/popomore/" target="_blank">Twitter</a></li>
        <li><a href="http://flickr.com/popomore/" target="_blank">Flickr</a></li>
    </ul>
    <div class="copyright">
        © 2008-2013 <a href="http://chuo.me/" title="不要变笨 | Don&#039;t to be stupid" rel="home" target="_blank">chuo.me</a> All Rights Reserved<br/>
        Powered by <a href="http://lab.lepture.com/liquidluck/" target="_blank">Felix Felicis 3.4</a>, 
        Owned by <a href="http://twitter.com" target="_blank">popomore</a>, 
    </div>
</footer>
