{% extends "layout.html" %}

{% block head -%}
<style>
html,body{
  height:100%;
  min-height:500px;
}
.danbo {
  display: block;
  position: relative;	
  background: #E2B21A;
  margin-bottom: 10px;
  margin: 0 auto;
}
.danbo-eye{
  display: block;
  position: absolute;
  width: 12%;
  height: 18%;
  background: #000;
  border-radius: 100%;
  top: 30%;
}
.danbo-lefteye{
  left: 25%;	
}
.danbo-righteye{
  right:25%;
}
.danbo-mouth{
  display: block;
  position: absolute;
  left: 50%;
  top: 65%;
  width: 0;
  height: 0;
}
.danbo-512{
  width: 512px;
  height: 288px;
}
.danbo-512 .danbo-mouth{
  border-left: 32px solid transparent;
  border-right: 32px solid transparent;
  border-bottom: 48px solid black;
  margin-left: -32px;
}
.index{
  position:relative;
  margin: 0 auto;
  width: 800px;
  padding:20px 0;
}
.index-links{
  text-align:center;
  padding-top: 30px;
}
.index-links a{
  font-size:30px;
  margin-right:25px;
}
.index-links a:last-child{
  margin-right:0;
}
.index-links a:hover{
  text-decoration:none;
  border-bottom: 5px solid #BF0000;
  color:#BF0000;
}
.index-logo{
  text-align:center;
  margin-bottom:40px;
}
.copyright{
  text-align: center;
}
.links {
  display: none;
}
</style>
<div class="index">
  <div class="index-logo">
    <a class="logo" href="/">
      <img src="/static/logo.png" alt="chuo.me" />
    </a>
  </div>
  <div class="danbo-ctn">
    <div class="danbo danbo-512">
      <span class="danbo-eye danbo-lefteye"></span>
      <span class="danbo-eye danbo-righteye"></span>
      <span class="danbo-mouth"></span>
    </div>
  </div>
  <div class="index-links">
    <a href="/archive/">Archive</a>
    <a href="/about/">About</a>
  </div>
</div>
{%- endblock %}

